<?xml version="1.0"?>
<launch>
    <arg name="gui" default="false" />
    <arg name="world" default="worlds/empty.world" />
    <arg name="rng_seed" default="0" />

    <param name="rng_seed" value="$(arg rng_seed)" />

    <!-- Gazebo simulator -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="gui" value="$(arg gui)" />
        <arg name="world_name" value="$(arg world)" />
    </include>

    <!-- UAV 1 -->
    <include file="$(find sar)/launch/uav_sitl.launch">
        <arg name="id" value="0" />
        <arg name="x" value="0" />
        <arg name="y" value="-4" />
        <arg name="Y" value="1.571" />
    </include>

</launch>
