<?xml version="1.0"?>
<launch>

    <arg name="x" default="0" />
    <arg name="y" default="0" />
    <arg name="Y" default="0" />
    <arg name="vehicle" default="iris" />
    <arg name="id" default="1" />
    <arg name="mavlink_udp_port" default="14560" />
    <arg name="namespace" default="/cpswarm" />
    <arg name="output" default="log" />

    <!-- Set environment variables -->
    <env name="PX4_SIM_MODEL" value="$(arg vehicle)" />
    <env name="PX4_ESTIMATOR" value="ekf2" />

    <!-- Generate URDF vehicle model -->
    <param name="rotors_description" command="$(find xacro)/xacro $(find px4)/Tools/sitl_gazebo/models/rotors_description/urdf/$(arg vehicle)_base.xacro rotors_description_dir:=$(find px4)/Tools/sitl_gazebo/models/rotors_description mavlink_udp_port:=$(arg mavlink_udp_port)" />

    <!-- PX4 SITL URDF -->
    <node pkg="px4" type="px4" name="sitl_$(arg id)" output="$(arg output)" args="$(find px4)/ROMFS/px4fmu_common -s etc/init.d-posix/rcS -i $(arg id) -d" required="true" />

    <!-- Gazebo vehicle spawn URDF -->
    <node pkg="gazebo_ros" type="spawn_model" name="$(arg vehicle)_$(arg id)_spawn" output="$(arg output)" args="-urdf -param rotors_description namespace:=$(arg namespace)/$(arg vehicle)_$(arg id) -model $(arg vehicle)_$(arg id) -package_to_model -x $(arg x) -y $(arg y) -z 0 -R 0 -P 0 -Y $(arg Y)" />

</launch>
