<?xml version="1.0"?>
<launch>

    <arg name="id" default="1" />
    <arg name="output" default="log" />

    <!-- Set environment variables -->
    <env name="PX4_ESTIMATOR" value="ekf2" />

    <!-- PX4 HITL URDF -->
    <node pkg="px4" type="px4" name="hitl_$(arg id)" output="$(arg output)" args="$(find px4)/ROMFS/px4fmu_common -s etc/init.d-posix/rcS -i $(arg id) -d" required="true" />

</launch>
