<?xml version="1.0"?>
<launch>

    <arg name="id" default="0" />
    <arg name="vehicle" default="iris" /> <!-- iris, pelican -->
    <arg name="x" default="0" />
    <arg name="y" default="0" />
    <arg name="Y" default="0" />
    <arg name="altitude" default="1.5" />
    <arg name="pos_type" default="local" />
    <arg name="output" default="screen" /> <!-- screen, log -->
    <arg name="behavior" default="optimal" /> <!-- random, optimal, flocking -->
    <arg name="logging" default="false" />

    <!-- Console output level -->
    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find sar)/param/rosconsole.config" />

    <!-- Define flight controller -->
    <arg if="$(eval vehicle == 'iris')" name="flight_controller" value="px4" />
    <arg if="$(eval vehicle == 'pelican')" name="flight_controller" value="asctec" />

    <group ns="/cpswarm/$(arg vehicle)_$(arg id)">

        <!-- Behavior state machine -->
        <node pkg="sar" type="uav_sar_simulation_idle.py" name="uav_sar_state_machine_$(arg id)" output="$(arg output)" required="true">
            <param name="altitude" value="$(arg altitude)" />
        </node>

        <!-- Flight controller -->
        <include file="$(find sar)/launch/uav_fc_$(arg flight_controller).launch">
            <arg name="id" value="$(arg id)" />
            <arg name="vehicle" value="$(arg vehicle)" />
            <arg name="x" value="$(arg x)" />
            <arg name="y" value="$(arg y)" />
            <arg name="Y" value="$(arg Y)" />
            <arg name="output" value="$(arg output)" />
        </include>

        <!-- Communication library -->
        <include file="$(find sar)/launch/uav_communication_library.launch">
            <arg name="id" value="$(arg id)" />
            <arg name="output" value="$(arg output)" />
        </include>

        <!-- Abstraction library -->
        <include file="$(find sar)/launch/uav_abstraction_library_$(arg flight_controller).launch">
            <arg name="id" value="$(arg id)" />
            <arg name="x" value="$(arg x)" />
            <arg name="y" value="$(arg y)" />
            <arg name="pos_type" value="$(arg pos_type)" />
            <arg name="output" value="$(arg output)" />
        </include>

        <!-- Swarm library -->
        <include file="$(find sar)/launch/uav_swarm_library.launch">
            <arg name="id" value="$(arg id)" />
            <arg name="output" value="$(arg output)" />
            <arg name="behavior" value="$(arg behavior)" />
        </include>

        <!-- Data logging -->
        <include if="$(arg logging)" file="$(find sar)/launch/logging.launch">
            <arg name="id" value="$(arg id)" />
            <arg name="output" value="$(arg output)" />
        </include>

    </group>

</launch>
