<?xml version="1.0"?>
<launch>

    <arg name="id" default="0" />
    <arg name="output" default="log" />

    <!-- SAR UAV coverage algorithm -->
    <include file="$(find uav_optimal_coverage)/launch/uav_optimal_coverage.launch">
        <arg name="id" value="$(arg id)" />
        <arg name="output" value="$(arg output)" />
    </include>

    <!-- SAR UAV local coverage algorithm -->
    <include file="$(find uav_local_coverage)/launch/uav_local_coverage.launch">
        <arg name="id" value="$(arg id)" />
        <arg name="output" value="$(arg output)" />
    </include>

    <!-- SAR UAV tracking algorithm -->
    <include file="$(find uav_simple_tracking)/launch/uav_simple_tracking.launch">
        <arg name="id" value="$(arg id)" />
        <arg name="output" value="$(arg output)" />
    </include>

</launch>
