<?xml version="1.0"?>
<launch>

    <arg name="id" default="1" />
    <arg name="output" default="log" />

    <!-- CPSwarm behavior state machine -->
    <node pkg="sar" type="uav_sar_simulation.py" name="uav_sar_state_machine_$(arg id)" output="$(arg output)" required="true" />

    <!-- CPSwarm SAR algorithms -->
    <include file="$(find sar)/launch/uav_sar_flocking.launch">
<!--     <include file="$(find sar)/launch/uav_sar_m18.launch"> -->
        <arg name="id" value="$(arg id)" />
        <arg name="output" value="$(arg output)" />
    </include>

    <!-- Task allocation -->
    <include file="$(find task_allocation)/launch/task_allocation.launch">
        <arg name="id" value="$(arg id)" />
        <arg name="output" value="$(arg output)" />
    </include>

    <!-- Swarm kinematics exchanger -->
    <include file="$(find kinematics_exchanger)/launch/kinematics_exchanger.launch">
        <arg name="id" value="$(arg id)" />
        <arg name="output" value="$(arg output)" />
    </include>

</launch>
