<?xml version="1.0"?>
<launch>

    <arg name="gui" default="false" />
    <arg name="world" default="empty" />
    <arg name="scouts" default="1" />
    <arg name="workers" default="1" />
    <arg name="rng_seed" default="0" />

    <param name="rng_seed" value="$(arg rng_seed)" />
    <param name="use_sim_time" value="true" />

    <!-- Stage simulator -->
    <node if="$(arg gui)" name="stage" pkg="stage_ros" type="stageros" args="$(find cpswarm_storage)/world/$(arg world).world" required="true" />
    <node unless="$(arg gui)" name="stage" pkg="stage_ros" type="stageros" args="-g $(find cpswarm_storage)/world/$(arg world).world" required="true" />

    <!-- Scout UGVs -->
    <include file="$(find cpswarm_storage)/launch/scout.launch" if="$(eval scouts > 0)">
        <arg name="id" value="0" />
        <arg name="x" value="-0.5" />
        <arg name="y" value="-9.5" />
        <arg name="world" value="$(arg world)" />
        <arg name="simulation" value="true" />
    </include>
    <include file="$(find cpswarm_storage)/launch/scout.launch" if="$(eval scouts > 1)">
        <arg name="id" value="1" />
        <arg name="x" value="-1.5" />
        <arg name="y" value="-9.5" />
        <arg name="world" value="$(arg world)" />
        <arg name="simulation" value="true" />
    </include>
    <include file="$(find cpswarm_storage)/launch/scout.launch" if="$(eval scouts > 2)">
        <arg name="id" value="2" />
        <arg name="x" value="-2.5" />
        <arg name="y" value="-9.5" />
        <arg name="world" value="$(arg world)" />
        <arg name="simulation" value="true" />
    </include>
    <include file="$(find cpswarm_storage)/launch/scout.launch" if="$(eval scouts > 3)">
        <arg name="id" value="3" />
        <arg name="x" value="-3.5" />
        <arg name="y" value="-9.5" />
        <arg name="world" value="$(arg world)" />
        <arg name="simulation" value="true" />
    </include>
    <include file="$(find cpswarm_storage)/launch/scout.launch" if="$(eval scouts > 4)">
        <arg name="id" value="4" />
        <arg name="x" value="-4.5" />
        <arg name="y" value="-9.5" />
        <arg name="world" value="$(arg world)" />
        <arg name="simulation" value="true" />
    </include>
    <include file="$(find cpswarm_storage)/launch/scout.launch" if="$(eval scouts > 5)">
        <arg name="id" value="5" />
        <arg name="x" value="-5.5" />
        <arg name="y" value="-9.5" />
        <arg name="world" value="$(arg world)" />
        <arg name="simulation" value="true" />
    </include>
    <include file="$(find cpswarm_storage)/launch/scout.launch" if="$(eval scouts > 6)">
        <arg name="id" value="6" />
        <arg name="x" value="-6.5" />
        <arg name="y" value="-9.5" />
        <arg name="world" value="$(arg world)" />
        <arg name="simulation" value="true" />
    </include>
    <include file="$(find cpswarm_storage)/launch/scout.launch" if="$(eval scouts > 7)">
        <arg name="id" value="7" />
        <arg name="x" value="-7.5" />
        <arg name="y" value="-9.5" />
        <arg name="world" value="$(arg world)" />
        <arg name="simulation" value="true" />
    </include>
    <include file="$(find cpswarm_storage)/launch/scout.launch" if="$(eval scouts > 8)">
        <arg name="id" value="8" />
        <arg name="x" value="-8.5" />
        <arg name="y" value="-9.5" />
        <arg name="world" value="$(arg world)" />
        <arg name="simulation" value="true" />
    </include>
    <include file="$(find cpswarm_storage)/launch/scout.launch" if="$(eval scouts > 9)">
        <arg name="id" value="9" />
        <arg name="x" value="-9.5" />
        <arg name="y" value="-9.5" />
        <arg name="world" value="$(arg world)" />
        <arg name="simulation" value="true" />
    </include>

    <!-- Worker UGVs -->
    <include file="$(find cpswarm_storage)/launch/worker.launch" if="$(eval workers > 0)">
        <arg name="id" value="10" />
        <arg name="x" value="0.5" />
        <arg name="y" value="-9.5" />
        <arg name="world" value="$(arg world)" />
        <arg name="simulation" value="true" />
    </include>
    <include file="$(find cpswarm_storage)/launch/worker.launch" if="$(eval workers > 1)">
        <arg name="id" value="11" />
        <arg name="x" value="1.5" />
        <arg name="y" value="-9.5" />
        <arg name="world" value="$(arg world)" />
        <arg name="simulation" value="true" />
    </include>
    <include file="$(find cpswarm_storage)/launch/worker.launch" if="$(eval workers > 2)">
        <arg name="id" value="12" />
        <arg name="x" value="2.5" />
        <arg name="y" value="-9.5" />
        <arg name="world" value="$(arg world)" />
        <arg name="simulation" value="true" />
    </include>
    <include file="$(find cpswarm_storage)/launch/worker.launch" if="$(eval workers > 3)">
        <arg name="id" value="13" />
        <arg name="x" value="3.5" />
        <arg name="y" value="-9.5" />
        <arg name="world" value="$(arg world)" />
        <arg name="simulation" value="true" />
    </include>
    <include file="$(find cpswarm_storage)/launch/worker.launch" if="$(eval workers > 4)">
        <arg name="id" value="14" />
        <arg name="x" value="4.5" />
        <arg name="y" value="-9.5" />
        <arg name="world" value="$(arg world)" />
        <arg name="simulation" value="true" />
    </include>
    <include file="$(find cpswarm_storage)/launch/worker.launch" if="$(eval workers > 5)">
        <arg name="id" value="15" />
        <arg name="x" value="5.5" />
        <arg name="y" value="-9.5" />
        <arg name="world" value="$(arg world)" />
        <arg name="simulation" value="true" />
    </include>
    <include file="$(find cpswarm_storage)/launch/worker.launch" if="$(eval workers > 6)">
        <arg name="id" value="16" />
        <arg name="x" value="6.5" />
        <arg name="y" value="-9.5" />
        <arg name="world" value="$(arg world)" />
        <arg name="simulation" value="true" />
    </include>
    <include file="$(find cpswarm_storage)/launch/worker.launch" if="$(eval workers > 7)">
        <arg name="id" value="17" />
        <arg name="x" value="7.5" />
        <arg name="y" value="-9.5" />
        <arg name="world" value="$(arg world)" />
        <arg name="simulation" value="true" />
    </include>
    <include file="$(find cpswarm_storage)/launch/worker.launch" if="$(eval workers > 8)">
        <arg name="id" value="18" />
        <arg name="x" value="8.5" />
        <arg name="y" value="-9.5" />
        <arg name="world" value="$(arg world)" />
        <arg name="simulation" value="true" />
    </include>
    <include file="$(find cpswarm_storage)/launch/worker.launch" if="$(eval workers > 9)">
        <arg name="id" value="19" />
        <arg name="x" value="9.5" />
        <arg name="y" value="-9.5" />
        <arg name="world" value="$(arg world)" />
        <arg name="simulation" value="true" />
    </include>

</launch>
