<?xml version="1.0"?>
<launch>

    <arg name="id" default="0" />
    <arg name="output" default="log" />

    <!-- Behavior state machine -->
    <node pkg="storage" type="worker_state_machine.py" name="worker_state_machine_$(arg id)" output="$(arg output)" required="true" />

    <!-- CPSwarm box searching coverage algorithm -->
    <include file="$(find move_to)/launch/move_to.launch">
        <arg name="id" value="$(arg id)" />
        <arg name="output" value="$(arg output)" />
    </include>

    <!-- TODO: add other behaviors -->
    <!-- lift table behavior -->
    <!-- set table behavior -->

</launch>
