<?xml version="1.0"?>
<launch>

    <arg name="id" default="0" />
    <arg name="x" default="0" />
    <arg name="y" default="0" />
    <arg name="output" default="log" />

    <!-- Behavior state machine -->
    <node pkg="storage" type="scout_state_machine.py" name="scout_state_machine_$(arg id)" output="$(arg output)" required="true" />

</launch>
