<?xml version="1.0"?>
<launch>

    <arg name="id" default="0" />
    <arg name="output" default="log" />

    <!-- Node for recording data from logging topic to bag files -->
    <node pkg="rosbag" type="record" name="record_$(arg id)" output="$(arg output)" required="true" args="-o cpswarm_storage_ugv_$(arg id)
        pos_provider/pose
        target_done
        target_found
        target_lost
        bridge/events/target_done
        bridge/events/target_found
        bridge/events/target_lost
        cps_selected
        bridge/events/cps_selected
    " />

    <!--
    pos_provider/pose
    pos_controller/goal_position
    pos_controller/stop
    ugv_coverage/goal
    ugv_coverage/cancel
    ugv_coverage/status
    ugv_coverage/feedback
    ugv_coverage/result
    bridge/uuid
    bridge/nodes
    bridge/events/cps_selected
    bridge/events/cps_selection
    bridge/events/launch
    bridge/events/mission_abort
    bridge/events/mission_start
    bridge/events/position
    bridge/events/target_done
    bridge/events/target_found
    bridge/events/target_lost
    bridge/events/target_update
    bridge/events/velocity
    base_pose_ground_truth
    odom
    map_metadata
    amcl_pose
    move_base/cancel
    move_base/feedback
    move_base/goal
    move_base/result
    move_base/status
    move_base_0/NavfnROS/plan
    move_base_0/TrajectoryPlannerROS/cost_cloud
    move_base_0/TrajectoryPlannerROS/global_plan
    move_base_0/TrajectoryPlannerROS/local_plan
    move_base_0/TrajectoryPlannerROS/parameter_descriptions
    move_base_0/TrajectoryPlannerROS/parameter_updates
    move_base_0/current_goal
    move_base_0/global_costmap/costmap
    move_base_0/global_costmap/costmap_updates
    move_base_0/global_costmap/footprint
    move_base_0/global_costmap/inflation_layer/parameter_descriptions
    move_base_0/global_costmap/inflation_layer/parameter_updates
    move_base_0/global_costmap/obstacle_layer/parameter_descriptions
    move_base_0/global_costmap/obstacle_layer/parameter_updates
    move_base_0/global_costmap/parameter_descriptions
    move_base_0/global_costmap/parameter_updates
    move_base_0/global_costmap/static_layer/parameter_descriptions
    move_base_0/global_costmap/static_layer/parameter_updates
    move_base_0/local_costmap/costmap
    move_base_0/local_costmap/costmap_updates
    move_base_0/local_costmap/footprint
    move_base_0/local_costmap/inflation_layer/parameter_descriptions
    move_base_0/local_costmap/inflation_layer/parameter_updates
    move_base_0/local_costmap/obstacle_layer/parameter_descriptions
    move_base_0/local_costmap/obstacle_layer/parameter_updates
    move_base_0/local_costmap/parameter_descriptions
    move_base_0/local_costmap/parameter_updates
    move_base_0/parameter_descriptions
    move_base_0/parameter_updates
    particlecloud
    map
    base_scan
    cmd_vel
    area/map
    bridge/nodes
    bridge/uuid
    cmd/moveto/cancel
    cmd/moveto/feedback
    cmd/moveto/goal
    cmd/moveto/result
    cmd/moveto/status
    cmd/target_done/cancel
    cmd/target_done/feedback
    cmd/target_done/goal
    cmd/target_done/result
    cmd/target_done/status
    cmd/task_allocation_auction/cancel
    cmd/task_allocation_auction/feedback
    cmd/task_allocation_auction/goal
    cmd/task_allocation_auction/result
    cmd/task_allocation_auction/status
    cmd/task_allocation_bid/cancel
    cmd/task_allocation_bid/feedback
    cmd/task_allocation_bid/goal
    cmd/task_allocation_bid/result
    cmd/task_allocation_bid/status
    cps_selected
    cps_selection
    initialpose
    mavros/global_position/global
    mavros/global_position/gp_vel
    mavros/setpoint_position/global
    mavros/state
    move_base_simple/goal
    pos_controller/goal_position
    position
    swarm_position
    swarm_position_rel
    swarm_velocity_rel
    target_done
    target_found
    target_lost
    target_tracking
    target_update
    vel_provider/velocity
    velocity
    -->

</launch>
