<?xml version="1.0"?>
<launch>

    <arg name="gui" default="false" />
    <arg name="world" default="empty" />

    <param name="use_sim_time" value="true" />

    <!-- Stage simulator -->
    <node if="$(arg gui)" name="stage" pkg="stage_ros" type="stageros" args="$(find storage)/world/$(arg world).world" required="true" />
    <node unless="$(arg gui)" name="stage" pkg="stage_ros" type="stageros" args="-g $(find storage)/world/$(arg world).world" required="true" />

    <!-- Scout CPS -->
    <include file="$(find storage)/launch/scout.launch">
        <arg name="id" value="0" />
        <arg name="world" value="$(arg world)" />
        <arg name="x" value="0" />
        <arg name="y" value="-1" />
    </include>

    <!-- Worker CPS -->
    <include file="$(find storage)/launch/worker.launch">
        <arg name="id" value="1" />
        <arg name="world" value="$(arg world)" />
        <arg name="x" value="0" />
        <arg name="y" value="-1" />
    </include>

</launch>
