<?xml version="1.0"?>
<launch>

    <arg name="gui" default="false" />
    <arg name="world" default="digisky_hangar" />

    <param name="use_sim_time" value="true" />

    <!-- Stage simulator -->
    <include file="$(find storage)/launch/stage.launch">
		<arg name="gui" value="$(arg gui)"/>
		<arg name="world" value="$(arg world)"/>
    </include>
    

    <!-- Scout CPS -->
    <!-- rb1_base( pose [ -7 1 0 0 ] name "scout_0" color "red") -->
    <include file="$(find storage)/launch/scout.launch">
        <arg name="id" value="0" />
        <arg name="world" value="$(arg world)_map" />
        <arg name="x" value="-7" />
        <arg name="y" value="1" />
        <arg name="yaw" value="-1.57" />
        <arg name="vehicle" value="scout" />
    </include>

    <!-- Worker CPS -->
    <!--rb1_base( pose [ -7 -2 0 0 ] name "carrier_0" color "green")-->
    <include file="$(find storage)/launch/worker.launch">
        <arg name="id" value="0" />
        <arg name="world" value="$(arg world)_map" />
        <arg name="x" value="-7" />
        <arg name="y" value="-2" />
        <arg name="yaw" value="-1.57" />
        <arg name="vehicle" value="carrier" />
    </include>

</launch>
