<?xml version="1.0"?>
<launch>

    <arg name="id" default="0" />
    <arg name="output" default="log" />

    <!-- Exchanging position and velocity -->
    <include file="$(find kinematics_exchanger)/launch/kinematics_exchanger.launch">
        <arg name="id" value="$(arg id)" />
        <arg name="output" value="$(arg output)" />
    </include>

    <!-- Managing boxes -->
    <!--include file="$(find target_monitor)/launch/target_monitor.launch">
    <arg name="id" value="$(arg id)" />
    <arg name="log_output" value="$(arg output)" />
    </include-->

    <!-- Assigning of boxes -->
    <!--include file="$(find task_allocation)/launch/task_allocation.launch">
    <arg name="id" value="$(arg id)" />
    <arg name="log_output" value="$(arg output)" />
    </include-->

</launch>
