<?xml version="1.0"?>
<launch>
    <arg name="id" default="0" />
    <arg name="vehicle" default="robot" />
    <arg name="x" default="0" />
    <arg name="y" default="0" />
    <arg name="world" default="empty" />
    <arg name="pos_type" default="local" />
    <arg name="output" default="screen" />

    <arg name="frame" value="$(arg vehicle)_$(arg id)" />

    <group ns="$(arg frame)">

        <!-- Behavior state machine -->
        <node pkg="storage" type="worker_state_machine.py" name="worker_state_machine_$(arg id)" output="$(arg output)" required="true" />

        <!-- CPSwarm communication library -->
        <include file="$(find storage)/launch/communication_library.launch">
            <arg name="id" value="$(arg id)" />
            <arg name="output" value="$(arg output)" />
        </include>

        <!-- CPSwarm abstraction library -->
        <include file="$(find storage)/launch/abstraction_library.launch">
            <arg name="id" value="$(arg id)" />
            <arg name="frame" value="$(arg frame)" />
            <arg name="x" default="$(arg x)" />
            <arg name="y" default="$(arg y)" />
            <arg name="world" value="$(arg world)" />
            <arg name="pos_type" value="$(arg pos_type)" />
            <arg name="output" value="$(arg output)" />
        </include>

        <!-- CPSwarm swarm library -->
        <include file="$(find storage)/launch/swarm_library.launch">
            <arg name="id" value="$(arg id)" />
            <arg name="output" value="$(arg output)" />
        </include>

        <!-- Data logging -->
        <include file="$(find storage)/launch/logging.launch">
            <arg name="id" value="$(arg id)" />
            <arg name="output" value="$(arg output)" />
        </include>

    </group>

</launch>
