<?xml version="1.0"?>
<launch>
    <arg name="gui" default="false" />
    <arg name="world" default="worlds/empty.world" />
    <arg name="rng_seed" default="10" />
    <arg name="id" default="$(optenv CPS_ID 0)" />

    <param name="rng_seed" value="$(arg rng_seed)" />

    <!-- Gazebo simulator -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="gui" value="$(arg gui)" />
        <arg name="world_name" value="$(arg world)" />
    </include>

    <!-- UAV -->
    <include file="$(find cpswarm_sar)/launch/uav_sitl.launch">
        <arg name="id" value="$(arg id)" />
        <arg name="x" value="$(eval 4 * ((arg('id')-10) % 4) - 8)" />
        <arg name="y" value="$(eval 4 * ((arg('id')-10) / 4) - 8)" />
        <arg name="Y" value="1.571" />
    </include>

</launch>
