<?xml version="1.0"?>
<launch>

    <arg name="id" default="0" />
    <arg name="output" default="log" />

    <!-- Communication library bridge -->
    <node pkg="swarmros" type="bridge" name="swarmio_$(arg id)" args="-C$(find cpswarm_sar)/param/uav_swarmros.cfg" output="$(arg output)" required="true" />

</launch>
