<?xml version="1.0"?>
<launch>

    <arg name="id" default="0" />
    <arg name="fcu" default="px4" /> <!-- px4, apm -->
    <arg name="gcs" default="192.168.1.1" />
    <arg name="x" default="0" />
    <arg name="y" default="0" />
    <arg name="altitude" default="25" />
    <arg name="pos_type" default="global" /> <!-- global, local -->
    <arg name="output" default="screen" /> <!-- screen, log -->
    <arg name="behavior" default="random" /> <!-- random, optimal, flocking -->
    <arg name="logging" default="true" />
    <arg name="fcu_url" default="udp://@" />

    <!-- Console verbosity level -->
    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find cpswarm_sar)/param/rosconsole.config" />

    <!-- Behavior state machine -->
    <node pkg="sar" type="uav_sar_demonstration.py" name="uav_sar_state_machine_$(arg id)" output="$(arg output)" required="true">
        <param name="altitude" value="$(arg altitude)" />
    </node>

    <!-- MAVROS -->
    <include file="$(find mavros)/launch/$(arg fcu).launch">
        <arg name="fcu_url" value="$(arg fcu_url)" />
        <arg name="gcs_url" value="udp://@$(arg gcs)" />
        <arg name="tgt_system" value="$(arg id)" />
        <arg name="tgt_component" value="1" />
        <arg name="log_output" value="$(arg output)" />
    </include>

    <!-- Communication library -->
    <include file="$(find cpswarm_sar)/launch/uav_communication_library.launch">
        <arg name="id" value="$(arg id)" />
        <arg name="output" value="$(arg output)" />
    </include>

    <!-- Abstraction library -->
    <include file="$(find cpswarm_sar)/launch/uav_abstraction_library.launch">
        <arg name="id" value="$(arg id)" />
        <arg name="x" value="$(arg x)" />
        <arg name="y" value="$(arg y)" />
        <arg name="pos_type" value="$(arg pos_type)" />
        <arg name="obc" value="false" />
        <arg name="output" value="$(arg output)" />
    </include>

    <!-- Swarm library -->
    <include file="$(find cpswarm_sar)/launch/uav_swarm_library.launch">
        <arg name="id" value="$(arg id)" />
        <arg name="output" value="$(arg output)" />
        <arg name="behavior" value="$(arg behavior)" />
    </include>

    <!-- Data logging -->
    <include if="$(arg logging)" file="$(find cpswarm_sar)/launch/logging.launch">
        <arg name="id" value="$(arg id)" />
        <arg name="output" value="$(arg output)" />
    </include>

</launch>
